## Query
The most basic search that can be performed is the query.  The query is a free-formed text expression, similar to the type of query you can perform within Google, matching against documents within the specified view.

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import search
import pandas as pd

# Default session - desktop
rd.open_session()

In [2]:
pd.set_option('display.max_colwidth', 140)
rd.__version__

'1.0.0b9'

#### Query - Default behavior

In [3]:
# The default syntax for search is to specify a query expression.  By default, search will return a default set of 
# fields (Properties).
response=search.Definition('IBM').get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
5,QUOTExEQUITY,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771,259118763,0#IBMDF:
6,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892,49450681,IBMFc1
7,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949,50092347,IBMFc2
8,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305,260213021,IBMDFc1
9,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950,50092348,IBMFc3

In [4]:
# By default, 10 documents will be returned.  Let's override that.
response=search.Definition(
    query = 'IBM',
    top = 20
).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
5,QUOTExEQUITY,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771,259118763,0#IBMDF:
6,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892,49450681,IBMFc1
7,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949,50092347,IBMFc2
8,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305,260213021,IBMDFc1
9,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950,50092348,IBMFc3
10,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 4, Equity Future, USD, Eurex",21481053951,50092349,IBMFc4
11,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 2, Equity Future, USD, Euronext Amsterdam",21613372306,260213022,IBMDFc2
12,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 5, Equity Future, USD, Eurex",21481053952,50092350,IBMFc5
13,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 6, Equity Future, USD, Eurex",21481053953,50092351,IBMFc6
14,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 3, Equity Future, USD, Euronext Amsterdam",21613372307,260213023,IBMDFc3
15,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 7, Equity Future, USD, Eurex",21481053954,50092352,IBMFc7
16,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 8, Equity Future, USD, Eurex",21481053955,50092353,IBMFc8
17,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 4, Equity Future, USD, Euronext Amsterdam",21613372308,260213024,IBMDFc4
18,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 9, Equity Future, USD, Eurex",21481053956,50092354,IBMFc9
19,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 10, Equity Future, USD, Eurex",21481053957,50092355,IBMFc10

#### Query Expressions
If we were to type in the following expression, we might come away believing the query will list all personnel within IBM that have a title
of CEO.  While, the results will indicate people related to IBM and people with a title of CEO, we cannot assume they are both.  That is, 
we will see results with the term IBM and CEO listed in the document.

In [5]:
# Match all documents where the term IBM and CEO appear in any order
response=search.Definition('IBM CEO').get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,"Arvind Krishna - International Business Machines Corp - Chairman of the Board, Chief Executive Officer",34417810693,34417810693
1,PERSON,"Rudy S. Karsan - Kenexa Corp - Chairman of the Board, Chief Executive Officer",34413248256,34413248256
2,PERSON,"Mohammed Farooq - Gravitant Inc - Chairman of the Board, Chief Executive Officer, Co-Founder",34415058863,34415058863
3,PERSON,"Simon J. Beaumont - IBM Credit LLC - Chairman of the Board, President, Chief Executive Officer",34421596181,34421596181
4,PERSON,"Deidre Paknad - Pss Systems Inc - President, CEO, Board Member",34414057544,34414057544
5,PERSON,Ron S Dembo - Algorithmics Inc - President & CEO,34414091235,34414091235
6,PERSON,Frank Chisholm - Aptsoft Corp - CEO & Founder,34414058841,34414058841
7,PERSON,Michael Knagenhjelm - Metamerge As(Ibm Corp) - Chief Executive Officer,34414139687,34414139687
8,PERSON,Bruce Miller - Tarian Software(Ibm) - Chief Executive Officer,34414399995,34414399995

What might give a more favorable result would be to query all documents related to people that contain the term '*IBM*'. From the result, I can visually see
titles and optionally filter out people that are not CEO's.  I can do this by selecting the '**People**' view.
In addition, I'm going to choose specific *child* elements of the **DocumentTitle** field.  As we see in our output from the above requests, the 
'**DocumentTitle**' is selected by default.  This property is a convenient collection of elements that nicely describes the document returned and is
made up of multiple sub-properties such as: '**DTSubjectName**', '**DTSimpleType**', '**DTSource**', and '**DTCharacteristics**'. 

By doing this, I can now see a nice
break-down of the titles (DTCharacteristics), name (DTSubjectName) and company (DTSimpleType).

In [6]:
response=search.Definition(
    view = search.SearchViews.PEOPLE,
    query = 'IBM',
    select = 'DocumentTitle, DTSubjectName, DTSimpleType, DTSource, DTCharacteristics'
).get_data()
response.data.df

,DocumentTitle,DTSubjectName,DTSimpleType,DTCharacteristics
0,"Arvind Krishna - International Business Machines Corp - Chairman of the Board, Chief Executive Officer",Arvind Krishna,International Business Machines Corp,"Chairman of the Board, Chief Executive Officer"
1,Gary D. Cohn - International Business Machines Corp - Vice Chairman,Gary D. Cohn,International Business Machines Corp,Vice Chairman
2,"James J. Kavanaugh - International Business Machines Corp - Senior Vice President, Chief Financial Officer",James J. Kavanaugh,International Business Machines Corp,"Senior Vice President, Chief Financial Officer"
3,"Nickle LaMoreaux - International Business Machines Corp - Chief Human Resource Officer, Senior Vice President",Nickle LaMoreaux,International Business Machines Corp,"Chief Human Resource Officer, Senior Vice President"
4,"Thomas W. Rosamilia - International Business Machines Corp - Senior Vice President - IBM Software, Chairman, North America",Thomas W. Rosamilia,International Business Machines Corp,"Senior Vice President - IBM Software, Chairman, North America"
5,Michelle H. Browdy - International Business Machines Corp - Senior Vice President and General Counsel,Michelle H. Browdy,International Business Machines Corp,Senior Vice President and General Counsel
6,"Robert F. Del Bene - International Business Machines Corp - Vice President, Controller",Robert F. Del Bene,International Business Machines Corp,"Vice President, Controller"
7,David N. Farr - International Business Machines Corp - Independent Director,David N. Farr,International Business Machines Corp,Independent Director
8,Al W. Zollar - International Business Machines Corp - Independent Director,Al W. Zollar,International Business Machines Corp,Independent Director
9,Rick H. Waddell - International Business Machines Corp - Independent Director,Rick H. Waddell,International Business Machines Corp,Independent Director

In [7]:
# Search for a specific ISIN using query
response=search.Definition('US046353AQ14').get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55,046353AQ1=
1,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS",<NA>,0x00102c2380de0d4c,046353AQ1=1M
2,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS L2",<NA>,0x00102c9a7ade0d0f,046353AQ1=2M
3,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, BARCLAYS TRADEWEB PRICE",<NA>,0x00102cbda5d029dd,US046353AQ14=BXTW
4,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, CREDIT SUISSE TRADEWEB PRICE",<NA>,0x00102cbda5b71586,US046353AQ14=CSTW
5,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, HSBC TRADEWEB PRICE",<NA>,0x00102c506eee30dc,US046353AQ14=HSTW
6,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS COMPOSITE PLUS",<NA>,0x00102ce0bcbf19c6,US046353AQ14=MKCP
7,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, RBC TRADEWEB PRICE",<NA>,0x00102cb583d42ff1,US046353AQ14=RCTW
8,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB APA",<NA>,0x00102ce830f8273b,US046353AQ14=TBEA
9,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TDS TRADEWEB PRICE",<NA>,0x00102c435ce30dcd,US046353AQ14=TDTW

In [8]:
# Narrow the search to only instruments
response=search.Definition(
    view = search.SearchViews.INSTRUMENTS,
    query = 'US046353AQ14'
).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55,046353AQ1=

#### Query Syntax
A query phrase can support some basic syntax including wildcards, boolean expressions and exact phrase matching.

In [9]:
# Use a specifc term in quotes and the boolean operator to locate specific tankers - use the Content layer 
# to print additional details.
response = search.Definition("'Caribbean Tanker' and Baltic").get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 19 documents

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,QUOTExCOMMODITY,"Baltic Exchange TD9 CRB-USG, Commodity Index, The Baltic Exchange",21815646948,621981,.BACG
1,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD21 Caribbean to US Gulf (50,000mt fuel oil), Commodity Spot, The Baltic Exchange",21717867959,175653765,.BACR
2,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD9 TCE�Caribbean to US Gulf Time Charter, Commodity Spot, The Baltic Exchange",21717782063,48950908,.BAAFRTD9
3,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD21 TCE Caribbean to US Gulf (50,000mt fuel oil) Time Charter, Commodity Spot, The Baltic Exchange",21717782060,325658314,.BAAFRTD21
4,PHYSICALASSETxVESSEL,"SAO PAULO, VLCC, MED & BALTIC SHIPMANAGEMENT, Caribbean Sea|Caribbean Tanker Zone",77309483963,77309483963,C}KV7309483963
5,PHYSICALASSETxVESSEL,"NS BORA, Suezmax, SCF MANAGEMENT SERVICES LTD, West Atlantic Ocean (Americas)",77309497298,77309497298,C}KS7309497298
6,PHYSICALASSETxVESSEL,"PANTHER I, Aframax / LRII, WATERSIDE INTERNATIONAL MTME, Gulf of Finland|Baltic Tanker Zone",77309487041,77309487041,C}KA7309487041
7,PHYSICALASSETxVESSEL,"HONG KONG DAWN, Aframax / LRII, HEIDMAR INC, Gulf of Mexico|US Gulf Tanker Zone",77309496423,77309496423,C}KA7309496423
8,PHYSICALASSETxVESSEL,"THYA, Aframax / LRII, WINOCEAN MANAGEMENT LTD, Gulf of Finland|Baltic Tanker Zone",77309486290,77309486290,C}KA7309486290
9,PHYSICALASSETxVESSEL,"TAMIAT NAVIGATOR, Medium, IINO MARINE SERVICE CO LTD, Louisiana|Gulf of Mexico|US Gulf Tanker Zone|United States",77309498150,77309498150,C}KM7309498150

In [10]:
# Use a wildcard (*) to search for references to 'Covid*'.
response=search.Definition(
    query = "Covid*",
    select = "DTSubjectName, DTSimpleType, DTSource, DTCharacteristics"
).get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 9509 documents

,DTSubjectName,DTSimpleType,DTSource,DTCharacteristics
0,Covidh Technologies Ltd,Public Company,<NA>,<NA>
1,"Euro Zone, Coronavirus (COVID-19), Total cases, Volume",Reuters Polls,Reuters,Daily
2,"Euro Zone, Coronavirus (COVID-19), New cases, Volume",Reuters Polls,Reuters,Daily
3,"Euro Zone, Coronavirus (COVID-19), Deaths, Volume",Reuters Polls,Reuters,Daily
4,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls,Reuters,Daily
5,"Coronavirus (COVID-19), Vaccinations, Doses administered, Per hundred people, Volume",Reuters Polls,Our World in Data,Daily
6,"Coronavirus (COVID-19), Vaccinations, People vaccinated, % of total",Reuters Polls,Our World in Data,Daily
7,"Coronavirus (COVID-19), Vaccinations, Doses administered, Total, Volume",Reuters Polls,Our World in Data,Daily
8,"Coronavirus (COVID-19), New cases, Volume",Reuters Polls,Reuters,Daily
9,"Coronavirus (COVID-19), Vaccinations, People fully vaccinated, % of total",Reuters Polls,Our World in Data,Daily

In [11]:
# List the Vodafone bonds maturing in 2025 with a coupon rate of 5%
# We can achieve this specific query using a special feature called 'tcm' (ticker coupon maturity).
response=search.Definition(
    query = "vod 5% 2025",
    features = "tcm",
    select = "CouponCurrency, CouponTypeDescription, IssuerLegalName, CouponRate, MaturityDate, ISIN"
).get_data()
response.data.df

,CouponCurrency,CouponTypeDescription,IssuerLegalName,CouponRate,MaturityDate,ISIN
0,USD,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,5,2025-01-15T00:00:00.000Z,USD85455AD13
1,USD,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,5,2025-01-15T00:00:00.000Z,US913364AD74

In [12]:
rd.close_session()